body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    background-color: #000;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #1db954;
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content,
.image-div {
    width: 100%;
    margin: 20px 0;
}

.image-div {
    padding: 15px;
    border: 2px solid #1db954;
    border-radius: 15px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

p {
    line-height: 1.6;
    font-size: 1.1em;
}

.arrow {
    font-size: 2em;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.arrow:hover {
    transform: scale(1.2);
}

@media (min-width: 600px) {
    section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .content,
    .image-div {
        width: 48%;
    }
}


