:root{
    --body-color: #181818;
    --sidebar-color: #121212;
    --primary-color:#1ed760;
}


#bigplay{
    z-index: 0;
     margin-top: 53px;
    
     display: flex;
     flex-direction: column;
     
     width: 100%;
 }

.playtit{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    background-color:var(--sidebar-color);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.384);

}

.bigicon{
    margin-top: 80px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: blueviolet;
    font-size: 100px;
    color: black;
    box-shadow: 5px 5px rgba(90, 90, 90, 0.384);
}

.bigicontxt{
    margin-top: 100px;
    margin-left: 30px;
    width: 600px;
    height: 200px;
    
}
.plattype{
    font-size: 30px;
    color: rgb(165, 165, 165);
}

.liktitle{
    font-size: 80px;
    color: aliceblue;
}
.music-list {
    margin-top: 5px;
    width: 100%;
  }

  .music-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #121212;
  }

  .music-item:hover {
    background-color: #444;
  }

  .track-number {
    color: aliceblue;
    font-size: 1.2em;
    margin-right: 10px;
  }

  .album-cover {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .music-details {
    flex-grow: 1;
  }

  .album-title {
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
  }

  .artist-info {
    color: #888;
  }

  .duration {
    margin-left: 10px;
    color: aliceblue;;
  }

