:root{
    --body-color: #181818;
    --sidebar-color: #121212;
    --primary-color:#1ed760;
}

#mainbody{
    z-index: -1;
   margin-left: 19%;
   display: flex;
   padding-left: 6px;
    
    width: 81%;
    height: 150%;
    
    
    background-color: var(--body-color);

    
}
#mainbodynav{
   
z-index: 1;
    
    justify-content: space-between;
    display: flex;
    height: 55px;
    width: 81%;
    position: fixed;     
    flex-direction: row;
    background-color: var(--body-color);
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

#mainbodynav #right_text{
    padding-right: 10px;
   
    display: flex;
    justify-content: end;
    height: 50px;
    width: 100%;
    align-items: center;
    flex-direction: row;

    
    
    
}

#mainbodynav li {
    list-style-type: none;
    color: rgb(170, 170, 170);
    

    margin-left: 20px;
    font-size: 20px;


}
#mainbodynav li a{
    
    text-decoration: none;
}


    

#mainbodynav .navt{
    color: rgb(170, 170, 170);
}

#mainbodynav .navt:hover{
    font-size: 23px;
    color: rgb(230, 230, 230);
    
}
#login{ 
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80px;
    height: 40px;
    
    background-color: white;
    border-radius: 40%;
}
#login:hover{ 
    width: 85px;
    height: 45px;
    
    background-color: rgb(216, 216, 216);
    border-radius: 40%;
}

#login a{
    color: black;
}


#mainlist{
   z-index: 0;
    margin-top: 53px;
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 98%;
}
.textbox{margin-top: 10px;
    margin-bottom: 5px;
    height: 50px;
    width: 500px;
    
}

.textbox p{
    font-size: 40px;
    color: white;
    
}

.tb1{
    z-index: 0;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.tb1Row1{
    z-index: 0;
    
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.conttb1{
    z-index: 0;
    box-shadow: 2px 2px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    position: relative;
    
    height: 50px;
    width:500px;
    margin-right: 10px;
    align-items: center;
    border-radius: 5px;
    background-color: var(--sidebar-color);
    
    
}
.conttb1:hover{
    background-color: #414141;
}
.conttb1:hover .lib-icon{
    background-color: #414141;
}
.playtexttb1{
    padding-top: 11px;
    align-items: center;
    height: 50px;
    width:280px; 
    overflow: hidden;
    text-overflow: "";
    text-wrap: nowrap;
}
.conttb1 img{
    
  
    height: 50px;
    width: 70px;
    
    border-radius: 5px;
    margin-right: 20px;

}
.tb1Row1 .lib-icon{
    color: var(--primary-color);
    font-size: 30px;
    margin-right: 20px;
    background-color: var(--sidebar-color);
    
    height: 50px;
    width: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 5px;
}

.madeforu{
    margin-top: 10px;
   
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}
.cardlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.cardlistser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


}
.card{
    list-style-type: none;
list-style-image: none;
    padding-top: 15px;
    margin-top: 5px;
    width: 220px;
    height: 320px;
    border-radius: 10px;
    background-color:var(--sidebar-color);
}
#cardimg{
width: 200px;
height: 200px;
background-image: url(./img/artists/PR_My_Bloody_Valentine.jpg);
background-size: cover;
background-repeat:no-repeat;
display: flex;
justify-content: center;
background-position: center;
align-items: center;
margin-left: 10px;
border-radius:5px ;

}
#cardimg1{
    width: 200px;
    height: 200px;
    background-image: url(./img/artists/macmil.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
    }
#cardimg2{
        width: 200px;
        height: 200px;
        background-image: url(./img/artists/aa1561b7.png);
        background-size: cover;
        background-repeat:no-repeat;
        display: flex;
        justify-content: center;
        background-position: center;
        align-items: center;
        margin-left: 10px;
        border-radius:5px ;
        
}
#cardimg3{
    width: 200px;
    height: 200px;
    background-image: url(./img/artists/nirvana.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
    }
#cardimg4{
        width: 200px;
        height: 200px;
        background-image: url(./img/artists/outkast.jpg);
        background-size: cover;
        background-repeat:no-repeat;
        display: flex;
        justify-content: center;
        background-position: center;
        align-items: center;
        margin-left: 10px;
        border-radius:5px ;
        
}
#cardimg5{
    width: 200px;
    height: 200px;
    background-image: url(./img/albumart/in\ rainbows.png);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg6{
    width: 200px;
    height: 200px;
    background-image: url(./img/albumart/boa.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg7{
    width: 200px;
    height: 200px;
    background-image: url(./img/albumart/temeimpla.png);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg8{
    width: 200px;
    height: 200px;
    background-image: url(./img/albumart/vespertine.png);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg9{
    width: 200px;
    height: 200px;
    background-image: url(./img/albumart/illmatix.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg10{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/concert-crowd-image-685530968.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg11{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/rock.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg12{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/latin.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg13{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/rocl.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg14{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/kpop.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg15{
    width: 200px;
    height: 200px;
    background-image: url(./img/artists/jazzmix.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg16{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/r&b.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg17{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/classical.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg18{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/6pop.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}
#cardimg19{
    width: 200px;
    height: 200px;
    background-image: url(./img/spotify/instrumental.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    margin-left: 10px;
    border-radius:5px ;
    
}


.dmix{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    color: aliceblue;
}
.whoart{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 10px;
    color: #818181;
}


