@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#121212*/
:root{
    --body-color: #181818;
    --sidebar-color: #121212;
    --primary-color:#1ed760;
}
body{
    font-family: Nunito;
    height: 100vh;
    
}


.libcontent::-webkit-scrollbar{
     width: 5px;
     height: 100px;
     
     
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 2px;
    

}

.sidebar{
    z-index: 2;
    
    padding-top: 15px;
    padding-left:5px;
    position: fixed;
    top: 0;
    left: 0;
    height: 91%;
    width:19%; 
    background: var(--sidebar-color);

}



.sidebar .logo_image img{
    padding-left: 35px;
    width: 250px;
    border-radius: 6px;
    
}

.sidebar header{
    position: relative;
}



.home_search {
    margin-top: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    height: 90px;
    width: 290px;
    background-color: var(--body-color);
    border-radius: 8px;
}

.home_search li{
    height: 40px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;


}


.sidebar li .icon {
    font-size: 30px;
    color: rgb(204, 204, 204);
    margin-right: 30px;

}
.home_search li:hover .icon {
    color: var(--primary-color);
    
}
.home_search li:hover .text_menu {
    color: var(--primary-color);
    
}


.text_menu{
    font-size: 25px;
  
    color: rgb(204, 204, 204);;

}
.sidebar li a{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.library{
    
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    height: 500px;
    width: 290px;
    background-color: var(--body-color);
    border-radius: 8px;
   
    
}

.titlelib{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 280px;
    
}
.libray_title a{
    text-decoration: none;

}
.dropdown .icon{
    justify-content: end;
    cursor: pointer;
   font-size: 30px;
}
.dropdown{
    width: 30px;
    position: relative;
    display: inline-block;    
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282828;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-item {
    padding: 5px 5px;
    display: block;
    color: aliceblue;
    cursor: pointer;
}

.dropdown .lilicon{
    width: 20px;
    height: 20px;
}

.tooltip {
    visibility: hidden;
    background-color: #282828;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    min-width: 190px;
}

/* რო გამოაჩინოს ტოოლიპი ჰოვერზე*/
.dropdown:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.playlist_tp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.tpplaylists{
    font-size: 15px;
    background-color: #282828;
    
}
.libcontent{
    flex-direction: column;
    height: 100%;
    padding-top: 15px;
    overflow-y: auto;
    max-height: 450px;
}
.libcontent li:hover{
    background-color: #282828;

}
.playlist{
    display: flex;
    flex-direction: row;
    position: relative;
    
    height: 80px;
    width:280px;
    align-items: center;
    border-radius: 5px;
    
    
}

.sidebar .libcontent .lib-icon{
    color: var(--primary-color);
    font-size: 30px;
    margin-right: 20px;
    background-color: var(--sidebar-color);
    margin-left: 10px;
    height: 50px;
    width: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 5px;
}
.playlist img{
    
  
      height: 50px;
      width: 50px;
      margin-left: 10px;
      border-radius: 5px;
      margin-right: 20px;

}
.playtext{
    padding-top: 20px;
    align-items: center;
    height: 80px;
    width:280px; 
    overflow: hidden;
    text-overflow: "";
    text-wrap: nowrap;
}
.pname{
   
    height: 27px;
    color: aliceblue;
    font-size: 20px;
    
  
}
.ptype{
    color: gray;
    font-size: 15px;
}
.album{
    overflow: hidden;
  text-overflow: "";
  white-space: nowrap; 
  
    display: flex;
    flex-direction: row;
    
    height: 80px;
    width:280px;
    align-items: center;
    border-radius: 5px;
    
}

.album img{
    position: relative;
  display: inline-block;

    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.Alname{
    
    color: aliceblue;
    font-size: 20px;
    
   
    

}
.Arname{
    color: gray;
    font-size: 15px;

}

.sidebar.hide-text .text_menu,
.sidebar.hide-text .dropdowntxt {
    display: none;
}

.sidebar.hide-text .lib-icon::before {
    content: ''; 
}


#player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background-color: var(--body-color);
    color: #fff;
    padding: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#play-pause-button{
    width: 40px;
    font-size: 30px;
}
#player-info {
    display: flex;
    align-items: center;
}

#player-info img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 4px;
}

#song-info h3 {
    margin: 0;
}

#player-controls button {
    font-size: 30px;
    color: #1DB954;
    background-color: #181818;
    border: none;
    padding: 5px;
    margin:  5px;
    cursor: pointer;
    border-radius: 50%;
}

#progress-bar-container {
    height: 8px;
    border-radius: 4px;
    flex-grow: 1;
    margin: 0 15px;
    background-color: var(--sidebar-color);
}

#progress-bar {
    width: 100%;
    height: 8px;
    background-color: #fff;
    
    border-radius: 4px;
}

#volume-controls  #volume-slider {
    margin-left: 15px;
    font-size: 30px;
}

#volume-slider {
    width: 50px;
   
}
#searchContainer {
    padding-top: 5px;
    padding-left: 30px;
    height: 45px;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}




#searchInput {
    flex: 1;
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
}

#searchButton {
    margin-left: 55px;
    width: 70px;
    height: 45px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border: none;
    border-radius: 0 25px 25px 0;
}


@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding-left: 10px;
    }

}
