body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    margin: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  button {
    background-color: #1db954;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #168f3a;
  }

  .error {
    color: red;
    margin-top: 5px;
  }

  .password-strength-bar {
    height: 8px;
    margin-bottom: 12px;
    position: relative;
    width: 100%;
    display: none; 
  }

  .bar-part {
    height: 100%;
    width: calc(33.33% - 2px); 
    position: absolute;
    border-radius: 4px;
  }

  .weak-bar {
    background-color: red;
  }

  .average-bar {
    background-color: yellow;
    left: 33.33%;
  }

  .strong-bar {
    background-color: green;
    left: 66.66%;
  }

  .back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    form {
      width: 80%;
    }
  }

  @media (max-width: 400px) {
    form {
      width: 90%;
    }
  }